body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    height: 100%;
    width: 100%;
    position:fixed;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

#mega{
	
    height: 100%;
    background-image:url("http://ragam.org.in/2014/img/farhan.jpg");
}
#main-text
 {
 	color:white;
 }

.main{
	text-align: center;
	width: 90%;
	max-width: 30em; /*******************Width here******************/
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.main > #showRightPush {
	border: none;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.8em;
}

#ticker {width:100%; font-size:0.75em; position:fixed; left:0; bottom:0; z-index:1; background:#000;}
#ticker strong,
#ticker ol {float:left; padding:15px;}
#ticker strong {color:#FFF; border-right:1px solid #222;}
#ticker ol {position:relative; width:80%;}
#ticker li {width:100%; color:#CCC; list-style:none; position:absolute; left:15px; top:15px; z-index:1;}
#ticker li a {color:#999; text-decoration:none;}
#ticker a:hover {color:#FFFFCC; text-decoration:underline;}