@font-face {
  font-family: 'Steelfish Rg';
  src:url('../fonts/steelfishrg.ttf');
}
@font-face {
    font-family: 'NexaL';
  src:url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'NexaB';
  src:url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'NexaBold';
  src:url('../fonts/NexaBold.otf');
}
*{
  padding: 0px;
  margin: 0px;

  /*list-style-type:none;*/
}
#fadebox
 {
  position: absolute;
  z-index:1000;
  height:100%;
  width:100%;
  background-color: white;
 }

#backgrounds{
  position: fixed;
  width:100%;
  height: 100%; 
  top:0px;
}
#backgrounds>div{
  opacity: 0;
}
.background{
  position: absolute;
  width:100%;
  height: 100%;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; 
}
html{
  height:100%;
  width:100%;
}
body{
  width:100%;
  height: 100%;
  overflow-x:hidden;
  font-family: "NexaL"; 
  overflow: hidden;
}
.active{
  opacity:1 !important;
}
.noscroll
 {
  overflow:hidden;
 }
#grad1{
  background: rgba(130,174,63,1);
  background: -moz-linear-gradient(left, rgba(130,174,63,1) 0%, rgba(56,154,71,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(130,174,63,1)), color-stop(100%, rgba(56,154,71,1)));
  background: -webkit-linear-gradient(left, rgba(130,174,63,1) 0%, rgba(56,154,71,1) 100%);
  background: -o-linear-gradient(left, rgba(130,174,63,1) 0%, rgba(56,154,71,1) 100%);
  background: -ms-linear-gradient(left, rgba(130,174,63,1) 0%, rgba(56,154,71,1) 100%);
  background: linear-gradient(to right, rgba(130,174,63,1) 0%, rgba(56,154,71,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );*/
}
#grad2{
  background: rgba(104,185,248,1);
  background: -moz-linear-gradient(left, rgba(104,185,248,1) 0%, rgba(44,132,231,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(104,185,248,1)), color-stop(100%, rgba(44,132,231,1)));
  background: -webkit-linear-gradient(left, rgba(104,185,248,1) 0%, rgba(44,132,231,1) 100%);
  background: -o-linear-gradient(left, rgba(104,185,248,1) 0%, rgba(44,132,231,1) 100%);
  background: -ms-linear-gradient(left, rgba(104,185,248,1) 0%, rgba(44,132,231,1) 100%);
  background: linear-gradient(to right, rgba(104,185,248,1) 0%, rgba(44,132,231,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c9ff', endColorstr='#436ce6', GradientType=1 );*/
}
#grad3{
  background: rgba(248,174,104,1);
  background: -moz-linear-gradient(left, rgba(248,174,104,1) 0%, rgba(246,93,112,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,174,104,1)), color-stop(100%, rgba(246,93,112,1)));
  background: -webkit-linear-gradient(left, rgba(248,174,104,1) 0%, rgba(246,93,112,1) 100%);
  background: -o-linear-gradient(left, rgba(248,174,104,1) 0%, rgba(246,93,112,1) 100%);
  background: -ms-linear-gradient(left, rgba(248,174,104,1) 0%, rgba(246,93,112,1) 100%);
  background: linear-gradient(to right, rgba(248,174,104,1) 0%, rgba(246,93,112,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff54eb', endColorstr='#e64585', GradientType=1 );*/
}
#grad4{
  background: rgba(148,167,197,1);
  background: -moz-linear-gradient(left, rgba(148,167,197,1) 0%, rgba(142,120,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(148,167,197,1)), color-stop(100%, rgba(142,120,240,1)));
  background: -webkit-linear-gradient(left, rgba(148,167,197,1) 0%, rgba(142,120,240,1) 100%);
  background: -o-linear-gradient(left, rgba(148,167,197,1) 0%, rgba(142,120,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(148,167,197,1) 0%, rgba(142,120,240,1) 100%);
  background: linear-gradient(to right, rgba(148,167,197,1) 0%, rgba(142,120,240,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );*/
}
#grad5{
  background: rgba(111,197,202,1);
  background: -moz-linear-gradient(left, rgba(111,197,202,1) 0%, rgba(12,166,139,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111,197,202,1)), color-stop(100%, rgba(12,166,139,1)));
  background: -webkit-linear-gradient(left, rgba(111,197,202,1) 0%, rgba(12,166,139,1) 100%);
  background: -o-linear-gradient(left, rgba(111,197,202,1) 0%, rgba(12,166,139,1) 100%);
  background: -ms-linear-gradient(left, rgba(111,197,202,1) 0%, rgba(12,166,139,1) 100%);
  background: linear-gradient(to right, rgba(111,197,202,1) 0%, rgba(12,166,139,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c9ff', endColorstr='#436ce6', GradientType=1 );*/
}

.sec{
  width:100%;
  height: 100%;
}
.sec-wrapper
 {
  margin:2%;
  width:96%;
  height:96%;
 }
#rest{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
#scroll_wrapper{
  width: 100%;
  height: 100%;
}

/* Events list */

#elist {
  padding:1.5em;
  font-size: 1em;
}

#elist>li
{
  float:left;
  padding: 0 8px;
  margin: 10px 0 20px;
  width: 16%;
  display:block;
}

#elist ul>li>a
{
  line-height:1em;
  cursor:pointer;
  color:#DDD;
  text-decoration:none;
}

#elist ul>li>a:hover
{
  text-decoration:underline; 
}

#elist>li>h4
{
  color:#444;
  font-weight:bold;
  font-size: 1.2em;
  text-transform:uppercase; 
  padding-bottom: 2px;
  font-family: "NexaB"
}

#elist .filtered
{
  background: #ddd;
}

.event-name
 {
  font-family: "NexaL";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
 }

@media screen and (max-width: 649px)
{
  #elist_filter { width: 30%; max-width: 160px; }
  #elist>li  { float: none; width: auto; padding: 2px 8px; margin: 0; }
  #elist>li>h4  { cursor: pointer; padding: 6px 0; }
  #elist ul  { display:none; padding-left: 4px; }
}

@media screen and (max-width: 819px)
{
}

@media screen and (min-width: 650px)
{
  #elist_filter { display:block; width: 160px; }
}

@media screen and (min-width: 820px)
{
  #elist_filter { display:block; }
  #elist>li  { padding-left: 12px; padding-right: 8px; }
  #elist ul  { padding-left: 2px; }
}

@media screen and (min-width: 960px)
{
  #elist_filter { display:block; width: 200px; }
  #elist>li  { padding-left: 16px; padding-right: 12px; width: 15%; }
}

@media screen and (min-width: 1160px)
{
  #elist_filter { display:block; width: 240px; }
  #elist>li  { padding-left: 20px; padding-right: 16px; }
}

#wlist {
	padding:6em;
	font-size: 1em;
}

#wlist>li
{
  float:left;
  padding: 0 8px;
  margin: 10px 0 20px;
  width: 20%;
  display:block;
}

#wlist ul>li>a
{
  line-height:1.8em;
  cursor:pointer;
  color:#222;
  text-decoration:none;
}

#wlist ul>li>a:hover
{
  text-decoration:underline; 
}

#wlist>li>h4
{
  color:#222;
  font-weight:bold;
  font-size: 1.2em;
  text-transform:uppercase; 
  padding-bottom: 2px;
}

#wlist .filtered
{
  background: #ddd;
}

@media screen and (max-width: 649px)
{
  #wlist_filter { width: 30%; max-width: 160px; }
  #wlist>li  { float: none; width: auto; padding: 2px 8px; margin: 0; }
  #wlist>li>h4  { cursor: pointer; padding: 6px 0; }
  #wlist ul  { display:none; padding-left: 4px; }
}

@media screen and (max-width: 819px)
{
}

@media screen and (min-width: 650px)
{
  #wlist_filter { display:block; width: 160px; }
}

@media screen and (min-width: 820px)
{
  #wlist_filter { display:block; }
  #wlist>li  { padding-left: 12px; padding-right: 8px; }
  #wlist ul  { padding-left: 2px; }
}

@media screen and (min-width: 960px)
{
  #wlist_filter { display:block; width: 200px; }
  #wlist>li  { padding-left: 16px; padding-right: 12px; width: 20%; }
}

@media screen and (min-width: 1160px)
{
  #wlist_filter { display:block; width: 240px; }
  #wlist>li  { padding-left: 20px; padding-right: 16px; }
}

/******************/
.head-place
 {
  font-size: 3.5em;
  color: white;
  margin-top: 10%;
  padding-left: 30%;
  height: 10%;
  text-align: center;
  width: 70%;
  font-family: "NexaB";
 }
 .head-place2
 {
  font-size: 3.5em;
  color: white;
  margin-top: 10%;
  padding-left: 15%;
  height: 10%;
  text-align: center;
  width: 70%;
  font-family: "NexaB";
 }
 .head-place3
 {
  /* text-transform: uppercase;*/
  font-size: 2.5em;
  color:white;
  margin: 10% auto;
  height:10%;
  text-align: center;
  width:90%;
  font-family:"NexaB";
 }
.sprite
 {
  margin: 10% auto;
  height:40%;
  width:80%;
 }
 .sprite2
 {
  height:40%;
  width:80%;
 }
.words-place
 {
  font-family: "NexaL";
  color: white;
  font-size: 1.5em;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30%;
  width: 80%;
  text-align: left;
 }
 .words-place2
 {
  font-family: "NexaL";
  color: white;
  font-size: 1.5em;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30%;
  width: 80%;
 }
 .words-place3
 {
  font-family:"NexaL";
  color:white;
  margin: 10% auto;
  height:30%;
  width:80%;
 }
.head
 {
  position:absolute;
 }

#content_wrap
{
  color: #fff;
  position: absolute;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#close
 {
  width:50px;
  height:50px;
  position: absolute;
  cursor:pointer;
 }
#closein
 {
  width:100%;
  height:100%;
  background: url("../img/close.png");
 }

#event_wrap
{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0 20px;
}

#event_title
{
  padding: 20px;
  display: block;
  vertical-align: middle;
  font-family:'Steelfish Rg';
  text-transform:uppercase;
  /*letter-spacing:15px;*/
  text-align: center; 
  font-size: 2.5em;
}

#event_logo
{
  width: 100px;
  height: 100px;
  display: none;
  vertical-align: middle;
  margin: auto;
  border: 4px double;
  border-radius: 50%;
  background-size: cover;
}

#event_text
{
  overflow: auto;
  padding: 20px;
  font-size:.8em;
  font-family: 'NexaL';
}

#event_text>span>span
{
  display: block;
  font-size: 14px;
}

#event_text_right
{
  overflow-y: scroll;
  overflow-x:hidden; 
  display: block;
  max-height:400px;
  max-width: 615px;
}
#event_text_right::-webkit-scrollbar {
    width: 1em;
}
 
#event_text_right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0.5em;
}
 
#event_text_right::-webkit-scrollbar-thumb {
  background-color: #134b6c;
  border-radius: 0.5em;
/*  outline: 1px solid slategrey;*/
}
#event_text_left
{
  width: 25%;
  min-width: 200px;
  float: left;
  margin-right:15px;
  display: block;
}

#event_text_left>span
{
  margin-bottom:15px;
  padding: 20px;
}
#event_text_left>span>h2
{
  color:#0e4b6a;
}
#event_text_right>span>h2
{
  color:#0e4b6a;
}

#event_text_right>span
{
  padding:20px;
  padding-right:30%;
}

#event_reg_button
{
  text-transform:uppercase;
  font-weight:bold;
  font-size:15px;
  text-align:center;
  letter-spacing:5px;
  background-color:#fff;
  cursor:pointer;
}
#eventContent{
	position:absolute;
	left:0%;
	height:100%;
	width:100%;
	background:red;
	float:left;
	display:none;
}
#footer
 {
 	
 	padding:5px;
	background:#292929;
	width:100%;
	box-shadow: inset 5px 10px 15px -6px #000000;
   -webkit-box-shadow: inset 5px 10px 15px -6px #000000;
   -moz-box-shadow: inset 5px 10px 15px -6px #000000;
 }
#footer-wrapper
 {
 	position:relative;
 	margin-top: 2%;
 	margin-left: 5%;
 	height: 90%;
 	width: 90%;
 }
#footer-top
 {
 	position:relative;
 }
#footer-content
 {
 	position:relative;
 	left:5%;
 	top:5%;
 	height: 90%;
 	width: 30%;
 	/*background-color: yellow;*/
 }

#footer-content>h1
 {
 	color:white;
 	font-size: 2em;
 	text-decoration: none;
 }

#footer-content>h3
 {
 	font-size: 0.75em;
 	text-decoration: none;
 	color:gray;
 }

#footer-column1
 {

 	background-color: green;
 	width:20%;
 	height:90%;

 }

#footer-column2
 {
 	background-color: blue;
 	width:20%;
 	height:90%;
 }

#footer-line
 {
 	position:relative;
 	margin:1% 2%;
 	width:96%;
 	height:2px;
 	background-color: gray;
 }
#footer-bottom
 {
 	position: absolute;
 	bottom:0%;
 	text-align: center;
 	position:relative;
 	width:96%;
 }
 .come-from-right{
    position: relative;
    width:200px;
    height:200px;
    background-color:red;
    left: 0%;
 }
#ctalk-overlay
 {
  z-index:600;
  position: fixed;
  top:0;
  background: #47374e;
  background: rgba(71, 55, 78, 0.85);
  height:100%;
  width:100%;
  display: none;
 }
#ctalk-box
 {
  z-index:601;
  position:fixed;
  top: 17%;
  left: 17%;
  background-color: red;
  height:60%;
  width:65%;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  color: #3e585f;
 }
 #italk-overlay
 {
  z-index:600;
  position: fixed;
  top:0;
  background: #47374e;
  background: rgba(71, 55, 78, 0.85);
  height:100%;
  width:100%;
  display: none;
 }
#italk-box
 {
  z-index:601;
  position:fixed;
  top: 17%;
  left: 17%;
  background-color: red;
  height:60%;
  width:65%;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  color: #3e585f;
 }

/*-----------------------------Workshops--------------------------------------*/
#Workshop-left img{
  max-width: 100%;
  max-height: 100%;
}
#workshops-sprite img{
  max-width: 100%;
  max-height: 100%;
}
.comingsoon{
  position: absolute;
  top: 172%;
  left: 10%;
  color: #ffffff;
  font-family: 'Steelfish Rg';
  font-size: 7em;
  z-index: 1500;
}
.comingsoon2{
  position: absolute;
  top: 272%;
  right: 10%;
  color: #ffffff;
  font-family: 'Steelfish Rg';
  font-size: 7em;
  z-index: 1500;
}
/*--------------------------------Proshows-----------------------------*/
#proshows-sprite img{
  max-width: 100%;
  max-height: 100%;
}
.center-attraction{
  width:500px;
  height: 110px;
  font-family: 'NexaL';
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top:250%;
  left: 50%;
  margin-left: -250px;
  margin-top: -50px;
  color: #ffffff;
}
 /******info*****/
#info-container
 {
  position:absolute;
  top:20%;
  left:10%;
  height:70%;
  width:90%;
 }
.info-tab>h2
 {
  text-align: center;
  text-transform: uppercase;
 }
.cont-tabs
 {
  position:absolute;
  width:30%;
  height:25%;
  margin:1%;
  text-align: center;
 }
.cont-tabs>h3
 {
  text-transform: uppercase;
 }
#cont-two,#cont-fiv,#cont-eig,#cont-ten
 {
  left:32%;
 }
#cont-thr,#cont-six,#cont-nin
 {
  left:65%;
 }
#cont-one,#cont-two,#cont-thr
 {
  top:35%;
 }
#cont-fou,#cont-fiv,#cont-six
 {
  top:63%;
 }
#cont-sev,#cont-eig,#cont-nin
 {
  top:93%;
 }
.info-but
 {
  width:150px;
  float:left;
  height:35px;
 cursor:pointer;
 text-align: center;
 padding-top: 5px;
 }
.but-active
 {
  font-weight: bold;
 }
.info-tab
{
  height:90%;
  top:10%;
  width:100%;
  position:absolute;
  overflow-y: scroll;
  overflow-x:hidden; 
  display: block;
  /*max-height:400px;
  max-width: 720px;*/
}
#ibox{
  background: #fff;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
}
#italk-box h3,#italk-box h5{
  font-weight: normal;
} 
#italk-box h3{
  padding: 20px 0px 10px 0px;
}
#italk-box h5{
  font-size: .7em;
  margin-top: -7px;
}
#rbox{
  background: #fff;
  height: 100%;
  width: 54%;
  float: right;
  font-size: 1.5em;
  vertical-align: baseline;
}
#ctalk-box h3,#ctalk-box h5{
  font-weight: normal;
} 
#ctalk-box h3{
  padding: 20px 0px 10px 0px;
}
#ctalk-box h5{
  font-size: .7em;
  margin-top: -7px;
}
.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
color: #000;
margin-top: -86px;
float: right;
cursor: pointer;}

  .close:hover {
    .close::before, .close::after {
      background: $blue;
    }
  }

  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  .close::before {
     transform:rotate(45deg);
  }
  .close::after {
    transform:rotate(-45deg);
  }
  .rounded {
    .close::before, .close::after 
      border-radius: 5px;
    }
