#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 7px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  z-index: 1111;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}
#nav-toggle {
  padding-bottom: 29px;
  background: #47a3da;
}
 @font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?yn90e9');
  src:url('fonts/icomoon.eot?#iefixyn90e9') format('embedded-opentype'),
    url('fonts/icomoon.woff?yn90e9') format('woff'),
    url('fonts/icomoon.ttf?yn90e9') format('truetype'),
    url('fonts/icomoon.svg?yn90e9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 6px;
}
.icon-menu{
  font-size: 30px;
}
.icon-film:before {
  content: "\e600";
}

.icon-compass:before {
  content: "\e601";
}

.icon-drawer:before {
  content: "\e602";
}

.icon-user-tie:before {
  content: "\e603";
}

.icon-hammer2:before {
  content: "\e604";
}

.icon-fire:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e9bd";
}

#spmenu-s2 {
  top: 98px;
}
#logo {
  width: 100%;
  padding-top: 10px;
}
#logo1{
  width: 75%;
  z-index: -1111;
}
.skill-bar span {
    background: #fff;
    height: 4.5px;
    display: inline-block;
}
.skill-bar span {
    -webkit-animation: w70 5s ease forwards;
}
.skill-bar .w70 {
    width: 70%;
}
@-webkit-keyframes w70 {
    from { width: 0%; }
    to { width: 70%; }
}
.bar{
     transform:rotate(180deg);

}
.bar span {
    background: #fff;
    height: 4.5px;
    display: inline-block;
}
.bar span {
    -webkit-animation: w70 5s ease forwards;
}
.bar .w70 {
    width: 70%;

}
@-webkit-keyframes w70 {
    from { width: 0%; }
    to { width: 70%; }
}
#contact-icon{
  right: 2px;
  bottom: -26px;
}
#music-icon{
  left: 2px;
  bottom: -26px;
}
#music-icon>.cbh-ph-img-circle 
{
  background-position: 0px -47px;
  background-image: url(../img/music.png);
}
#music-icon.playing>.cbh-ph-img-circle{
  background-position: 0px 3px;
}

#fb-icon{
  left: 43%;
  bottom: 4%;
}
#fb-icon>.cbh-ph-img-circle 
{
  background: url(../img/sm.png) 0 0 !important;
}
#fb-icon.playing>.cbh-ph-img-circle{
  background-position: 0px 3px;
}

#twitter-icon{
  left: 47%;
  bottom: 4%;
}
#twitter-icon>.cbh-ph-img-circle 
{
  background: url(../img/sm.png) 0 30px !important;
}
#twitter-icon.playing>.cbh-ph-img-circle{
  background-position: 0px 3px;
}

#instagram-icon{
  left: 51%;
  bottom: 4%;
}
#instagram-icon>.cbh-ph-img-circle 
{
  background: url(../img/sm.png) 0 59px !important;
}
#instagram-icon.playing>.cbh-ph-img-circle{
  background-position: 0px 3px;
}

#youtube-icon{
  left: 55%;
  bottom: 4%;
}
#youtube-icon>.cbh-ph-img-circle 
{
  background: url(../img/sm.png) 0 87px !important;
}
#youtube-icon.playing>.cbh-ph-img-circle{
  background-position: 0px 3px;
}


.cbh-phone {
  position: fixed;
  display: block;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
}

.cbh-contact {

  width: 50px;
  height: 50px;

}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px,0,0);
    transform: translate3d(2000px,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.cbh-phone.static {
  opacity: 1;
}

.cbh-phone:hover {
  opacity: .6;
}

.cbh-ph-circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30,30,30,.4);
  opacity: .1;
  -webkit-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -o-animation: cbh-circle-anim 1.2s infinite ease-in-out;
  animation: cbh-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.cbh-phone.active .cbh-ph-circle {
  -webkit-animation: cbh-circle-anim 1.1s infinite ease-in-out;
  -moz-animation: cbh-circle-anim 1.1s infinite ease-in-out;
  -ms-animation: cbh-circle-anim 1.1s infinite ease-in-out;
  -o-animation: cbh-circle-anim 1.1s infinite ease-in-out;
  animation: cbh-circle-anim 1.1s infinite ease-in-out;
}

.cbh-phone.static .cbh-ph-circle {
  -webkit-animation: cbh-circle-anim 2.2s infinite ease-in-out;
  -moz-animation: cbh-circle-anim 2.2s infinite ease-in-out;
  -ms-animation: cbh-circle-anim 2.2s infinite ease-in-out;
  -o-animation: cbh-circle-anim 2.2s infinite ease-in-out;
  animation: cbh-circle-anim 2.2s infinite ease-in-out;
}

.cbh-phone:hover .cbh-ph-circle {
  border-color: rgba(0,175,242,1);
  opacity: .5;
}

.cbh-phone.green:hover .cbh-ph-circle {
  border-color: rgba(14,129,182,1);
  opacity: .5;
}

.cbh-phone.green .cbh-ph-circle {
  border-color: rgba(0,175,242,1);
  opacity: .5;
}

.cbh-phone.gray:hover .cbh-ph-circle {
  border-color: rgba(204,204,204,1);
  opacity: .5;
}

.cbh-phone.gray .cbh-ph-circle {
  border-color: rgba(14,129,182,1);
  opacity: .5;
}

.cbh-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.cbh-ph-circle-fill-logo {
  top: 0px;
  left: 0px;
}

.cbh-phone.active .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out;
  -moz-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out;
  -ms-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out;
  -o-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out;
  animation: cbh-circle-fill-anim 1.7s infinite ease-in-out;
}

.cbh-phone.static .cbh-ph-circle-fill {
  -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
  opacity: 0;
}

.cbh-phone:hover .cbh-ph-circle-fill {
  background-color: rgba(0,175,242,.5);
  opacity: .75;
}

.cbh-phone.green:hover .cbh-ph-circle-fill {
  background-color: rgba(14,129,182,.5);
  opacity: .75;
}

.cbh-phone.green .cbh-ph-circle-fill {
  background-color: rgba(0,175,242,.5);
  opacity: .75;
}

.cbh-phone.gray:hover .cbh-ph-circle-fill {
  background-color: rgba(204,204,204,.5);
  opacity: .75;
}

.cbh-phone.gray .cbh-ph-circle-fill {
  background-color: rgba(14,129,182,.5);
  opacity: .75;
}

.cbh-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background-image: url(../img/phone.png);
  background-position: 0px 0px;
  background-color: rgba(30,30,30,.1);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  animation: cbh-circle-img-anim 1s infinite ease-in-out;
}

.cbh-ph-img-circle-logo {
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
}

.cbh-phone.active .cbh-ph-img-circle {
  -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
  animation: cbh-circle-img-anim 1s infinite ease-in-out;
}

.cbh-phone.static .cbh-ph-img-circle {
  -webkit-animation: cbh-circle-img-anim 0 infinite ease-in-out;
  -moz-animation: cbh-circle-img-anim 0 infinite ease-in-out;
  -ms-animation: cbh-circle-img-anim 0 infinite ease-in-out;
  -o-animation: cbh-circle-img-anim 0 infinite ease-in-out;
  animation: cbh-circle-img-anim 0 infinite ease-in-out;
}

.cbh-phone:hover .cbh-ph-img-circle {
  background-color: rgba(243,121,42,1);
}

.cbh-phone.green:hover .cbh-ph-img-circle {
  background-color: rgba(14,129,182,1);
}

.cbh-phone.green .cbh-ph-img-circle {
  background-color: rgba(243,121,42,1);
}

.cbh-phone.gray:hover .cbh-ph-img-circle {
  background-color: rgba(243,121,42,1);
}

.cbh-phone.gray .cbh-ph-img-circle {
  background-color: rgba(14,129,182,1);
}

@-moz-keyframes cbh-circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1;
  }

  30% {
    -moz-transform: rotate(0deg) scale(.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5;
  }

  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1;
  }
}

@-webkit-keyframes cbh-circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }

  30% {
    -webkit-transform: rotate(0deg) scale(.7) skew(1deg);
    -webkit-opacity: .5;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-o-keyframes cbh-circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: .1;
  }

  30% {
    -o-transform: rotate(0deg) scale(.7) skew(1deg);
    -o-opacity: .5;
  }

  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1;
  }
}

@keyframes cbh-circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
  }

  30% {
    transform: rotate(0deg) scale(.7) skew(1deg);
    opacity: .5;
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;
  }
}

@-moz-keyframes cbh-circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes cbh-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-o-keyframes cbh-circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@keyframes cbh-circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes cbh-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,50% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes cbh-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-o-keyframes cbh-circle-img-anim {
  0% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  100%,50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }
}