Options -Indexes
IndexIgnore *
ErrorDocument 404 /2015/404.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /2015/

#No rewrite if a file request
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


#Removes trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]



#This line will rewrite every url like ragam.org.in/events and ragam.org.in/workshops to main.html. Then appropriate js code is required to show events or workshops as required.
#Remove the hash below to start url rewriting.

#RewriteRule    ^([A-Za-z0-9-]+)/?$    main.html    [QSA,NC]

</IfModule>